{% load thumbnail %} 
<ul> 
<li> 
  Автор: <a href="{% url 'posts:profile' postq.author.username %}"> {{ postq.author.get_full_name }} </a> 
</li> 
<li> 
  Дата публикации: {{ postq.pub_date|date:"d E Y" }} 
</li> 
</ul> 
{% thumbnail postq.image "960x339" crop="center" upscale=True as im %} 
<img class="card-img my-2" src="{{ im.url }}"> 
{% endthumbnail %} 
<p>{{ postq.text }}</p> 
{% if postq.group %} 
  <a href="{% url 'posts:group_list' postq.group.slug %}">все записи группы</a> 
{% endif %} 
{% if not forloop.last %}<hr>{% endif %} 
